.footer p {
	color: white;
}

.footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

.footer-main {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	height: 230px;
}

.footer-section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 50px;
}
.footer-section1 {
	padding: 100px;
}

.footer-logo {
	width: 250px;
	max-width: 500;
}

.footer-tagline {
	font-family: Poppins;
	font-weight: 500;
	font-size: 20px;
	margin: 0;
	padding: 0;
	align-self: flex-start;
}

.footer-section-mid-item {
	font-family: Poppins;
	font-weight: 500;
	font-size: 20px;
	margin: 0;
	padding: 0;
	align-self: flex-start;
}

.footer-section4 {
	align-items: flex-start;
}

.footer-section4-text {
	align-self: flex-start;
	margin-left: 10px;
}

.footer-section4-title {
	font-family: Poppins;
	font-size: 20px;
	margin: 0px;
	padding: 0px;
}

.footer-section4-contact {
	font-family: monospace;
	font-size: 15px;
	margin-top: 5px;
	font-weight: 500;
}

.footer-socials {
	display: flex;
	align-items: center;
	justify-content: center;
}

.footer-socials-item {
	width: 30px;
	height: 30px;
	margin: 10px;
}

.footer-copyright p {
	font-family: Poppins;
	font-size: 18px;
	font-weight: 500;
	margin: 0;
	padding: 0;
	text-align: center;
}
