<!DOCTYPE html>
<html>
  <head>
    <title>Featured Artist | iMelody</title>
    <link rel="icon" type="image/x-icon" href="static/assets/logo2.png" />
    <link rel="stylesheet" href="static/css/footer.css" />
    <link rel="stylesheet" href="static/css/featured.css" />
    <link rel="stylesheet" href="static/css/navbar.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Urbanist:wght@300;600;700;800;900&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@200;500&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
  </head>

  <body
    style="
      background-color: black;
      background-image: linear-gradient(
          to bottom right,
          rgb(0, 0, 0),
          rgba(0, 0, 0, 0.2)
        ),
        url(static/assets/background.jpeg);
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
      width: 100%;
      overflow-x: hidden;
    "
  >
    <div class="nav-bar">
      <a class="logo" href="/">
        <img src="static/assets/logo.png" class="logo" />
      </a>

      <div style="display: flex; justify-content: end; width: 100%">
        <div class="nav-bar-options">
          <div class="nav-bar-search">
            <input
              type="text"
              class="nav-bar-search-input"
              placeholder="Search"
            />
            <a href="search">
              <img src="static/assets/search.svg" class="nav-bar-search-icon"
            /></a>
          </div>
          <button class="nav-bar-item">
            <a href="about">About</a>
          </button>
          <button class="nav-bar-item" style="border-color: white;">
            <a href="featured">Featured Artist</a>
          </button>
          <button class="nav-bar-item">
            <a href="artists">Artists</a>
          </button>
          <button class="nav-bar-item">
            <a href="liked">Liked Songs</a>
          </button>
          <div class="profile-logo">
            <img class="profile-logo-image" src="static/assets/user.jpg" />
          </div>

          <div class="profile-details">
            <p class="profile-name">User Demo</p>
            <p
              style="
                display: inline;
                color: black;
                margin-top: 5px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                font-size: 23px;
                margin-right: 0px;
              "
            >
              <b> @ </b>
            </p>
            <p class="profile-username" style="display: inline">username</p>
            <hr style="margin-top: 5px; border: 1px solid black" />
            <div>
              <p
                class="profile-options profile-liked-songs"
                onclick="openLiked()"
              >
                <img
                  src="static/assets/liked.svg"
                  style="width: 20px; height: 20px; vertical-align: middle"
                />
                Your liked songs
              </p>
            </div>
            <p class="profile-options">
              <img
                src="static/assets/manage-account.svg"
                style="width: 20px; height: 20px; vertical-align: middle"
              />
              Manage your account
            </p>
            <p class="profile-options">
              <img
                src="static/assets/logout.svg"
                style="width: 20px; height: 20px; vertical-align: middle"
              />
              Logout
            </p>
          </div>
        </div>
      </div>
      <script>
        function openLiked() {
          window.location.href = "liked";
        }
      </script>
    </div>

    <div
      class="parent"
      style="
        width: 100%;
        height: 100%;
        margin-top: 100px;
        display: flex;
        flex-direction: row;
      "
    >
      <div class="artist-div" style="display: flex; flex-direction: column">
        <div
          style="
            display: flex;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            padding: 50px;
          "
        >
          <div class="artist-details" style="text-align: center">
            <div class="artist-img-div" style="text-align: center">
              <img src="{{ img }}" class="artist-img" />
            </div>
            <p class="artist-name">
              OneRepublic
              <span class="artist-verified" style="display: inline">
                <img
                  src="static/assets/verified.svg"
                  style="width: 50px; height: 50px; transform: translateY(5px)"
                />
              </span>
            </p>

            <p class="artist-followers">Followers: 2.5M</p>
          </div>
          <p class="artist-bio" style="margin-top: 50px">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;OneRepublic is an
            American pop rock band formed in Colorado Springs, Colorado in 2002.
            The band consists of lead vocalist and multi-instrumentalist Ryan
            Tedder, guitarist Zach Filkins, guitarist Drew Brown, bassist and
            cellist Brent Kutzle, and drummer Eddie Fisher. OneRepublic gained
            popularity with their debut single "Apologize" in 2007, which was a
            massive hit worldwide. Since then, they have released several
            successful albums and singles, including "Stop and Stare", "Good
            Life", "Counting Stars", and "Connection". OneRepublic is known for
            their catchy melodies, emotive lyrics, and Tedder's powerful vocals.
          </p>
        </div>
      </div>
      <div
        class="artist-misc"
        style="display: flex; flex-direction: column; margin-top: 40px"
      >
        <div
          class="countdown-div"
          style="
            max-width: max-content;
            min-width: fit-content;
            margin: 20px 50px 20px 0px;
            border: 2px solid white;
            border-radius: 15px;
            color: white;
            padding: 20px;
            justify-content: center;
            font-family: 'Urbanist';
            font-size: 20px;
            padding-top: 5;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-items: center;
          "
        >
          <div>
            <p>Next album releases in</p>
            <p
              id="cntdwnTxt"
              style="font-family: 'Urbanist'; font-size: 25px"
            ></p>
          </div>
        </div>

        <div class="artist-followers">
          <p>ADD A REVIEW</p>
        </div>
        <div class="input-review" style="margin-right: 50px">
          <div style="padding: 10px; display: flex; align-items: center">
            <label for="Name" style="padding-right: 45px"> Name </label>
            <input name="Name" class="input-field" placeholder="Enter Name" />
            <div
              style="
                padding-left: 430px;
                opacity: 0;
                transition: all 200ms;
                pointer-events: none;
              "
              id="review-submitted-text"
            >
              <p>Your review has been submitted!</p>
            </div>
          </div>
          <div style="display: inline-flex; padding: 10px">
            <label> Rating </label>
            <div class="rating-container" style="padding-left: 53px">
              <div class="radio-buttons">
                <div>
                  <input type="radio" name="star" id="star-5" />
                  <label for="star-5" class="fas fa-star"></label>
                  <input type="radio" name="star" id="star-4" />
                  <label for="star-4" class="fas fa-star"></label>
                  <input type="radio" name="star" id="star-3" />
                  <label for="star-3" class="fas fa-star"></label>
                  <input type="radio" name="star" id="star-2" />
                  <label for="star-2" class="fas fa-star"></label>
                  <input type="radio" name="star" id="star-1" />
                  <label for="star-1" class="fas fa-star"></label>
                </div>
              </div>
            </div>
          </div>
          <div style="padding: 10px; height: auto; position: relative">
            <label for="Description"> Description </label>
            <textarea
              name="Description"
              class="input-field"
              placeholder="Enter Description"
              maxlength="1000"
              rows="5"
              style="width: 85%; vertical-align: top; resize: none"
            ></textarea>
            <div class="char-count"></div>
          </div>
          <div style="text-align: right; padding-right: 25px">
            <button
              type="submit"
              class="input-field submit-button"
              id="submit-button"
            >
              Submit
            </button>
          </div>
        </div>

        <div class="artist-followers">
          <p>TOP COMMENTS</p>
        </div>
        <div class="list-of-reviews"></div>
      </div>
    </div>

    <footer class="footer">
      <div class="footer-main">
        <div class="footer-section footer-section1">
          <img class="footer-logo" src="static/assets/logo.png" />
          <p class="footer-tagline">Your song guide</p>
        </div>

        <div class="footer-section">
          <p class="footer-section-mid-item">
            <a href="about">About</a>
          </p>
          <p class="footer-section-mid-item">
            <a href="artists">Artists</a>
          </p>
          <p class="footer-section-mid-item">
            <a href="sitemap">Sitemap</a>
          </p>
        </div>

        <div class="footer-section">
          <p class="footer-section-mid-item">
            <a href="tnc">Terms and conditions</a>
          </p>
          <p class="footer-section-mid-item">
            <a href="privacy">Privacy Policy</a>
          </p>
          <p class="footer-section-mid-item">
            <a href="cookie">Cookie Policy</a>
          </p>
        </div>

        <div class="footer-section footer-section4">
          <div class="footer-section4-text">
            <p class="footer-section4-title">Let us know your thoughts!</p>
            <p class="footer-section4-contact">
              <a href="mailto://hello@imelody.com">hello@imelody.com</a>
            </p>
          </div>
          <div class="footer-socials">
            <a href="https://facebook.com/imelody" target="_blank">
              <img
                class="footer-socials-item"
                src="static/assets/social-fb-white.png"
              />
            </a>
            <a href="https://instagram.com/imelody" target="_blank">
              <img
                class="footer-socials-item"
                src="static/assets/social-ig-white.png"
              />
            </a>
            <a href="https://twitter.com/imelody" target="_blank">
              <img
                class="footer-socials-item"
                src="static/assets/social-tw-white.png"
              />
            </a>
          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <p>© 2023 iMelody. All rights reserved.</p>
      </div>
    </footer>
    <script src="static/js/countdown.js"></script>
    <script src="static/js/review.js"></script>
  </body>
</html>
