<!DOCTYPE html>
<html>
  <head>
    <title>Sitemap | iMelody</title>
    <link rel="icon" type="image/x-icon" href="assets/logo2.png" />
  </head>
  <body>
    <h1>Sitemap</h1>
    <ul>
      <li><a href="../">Home</a></li>
      <li><a href="about">About</a></li>
      <li><a href="featured">Featured Artist</a></li>
      <li><a href="liked">Liked Songs</a></li>

      <li>
        <a href="artists">Artists</a>
        <ul>
          <li>
            <a href="artist/5Pwc4xIPtQLFEnJriah9YJ">OneRepublic</a>
            <ul>
              <li><a href="album/33inEak0hNKMDePhjGxE61">OneRepublic</a></li>
              <li><a href="album/3tjIKRAPBy5Qu4z8F5HmBz">Top Gun: Maverick</a></li>
              <li><a href="album/50Ud74XX8wnH2RK0n6j5np">One Night In Malibu</a></li>
              <li><a href="album/0SrskI3mHcu5MzKeZNv2f6">Human</a></li>
              <li><a href="album/3sABlBpkGohgVYOVN23q8m">Oh My My</a></li>
              <li><a href="album/42UJjk8i8L0De7lQtu7sqi">Native</a></li>
              <li><a href="album/19bXRXu7OeKRO5aVkCo5p8">Deluxe Version</a></li>
              <li><a href="album/3LjYBwe8jax68mwd3iL4uo">Waking Up</a></li>
            </ul>
          </li>
          <li>
            <a href="artist/1Xyo4u8uXC1ZmMpatF05PJ">The Weeknd</a>
            <ul>
              <li><a href="album/35dut3ICqF3NEDkjxfzJJ1">Starboy</a></li>
              <li><a href="album/1OARrXe5sB0gyy3MhQ8h92">Live At SoFi Stadium</a></li>
              <li><a href="album/4M2Mf4pmARKGVT9MLCe3HA">Avatar: The Way of Water</a></li>
              <li><a href="album/12INlMsFtBjyehNnawBv36">Dawn FM</a></li>
              <li><a href="album/6YlDIxqEjvY63ffH6AwCjd">After Hours</a></li>
              <li><a href="album/4qZBW3f2Q8y0k1A84d4iAO">My Dear Melancholy,</a></li>
            </ul>
          </li>
          <li>
            <a href="artist/06HL4z0CvFAxyc27GXpf02">Taylor Swift</a>
            <ul>
              <li><a href="album/3lS1y25WAhcqJDATJK70Mq">Midnights</a></li>
              <li><a href="album/6kZ42qRrzov54LcAk4onW9">Red</a></li>
              <li><a href="album/4hDok0OAJd57SGIT8xuWJH">Fearless</a></li>
              <li><a href="album/6AORtDjduMM3bupSWzbTSG">evermore</a></li>
              <li><a href="album/0PZ7lAru5FDFHuirTkWe9Z">folklore: the long pond studio sessions</a></li>
              <li><a href="album/1pzvBxYgT6OVwJLtHkrdQK">folklore</a></li>
              <li><a href="album/1NAmidJlEaVgA3MpcPFYGq">Lover</a></li>
              <li><a href="album/1MHuZZrGT36cXLxAQ5cLP3">Taylor Swift Karaoke: reputation</a></li>
            </ul>
          </li>
          <li>
            <a href="artist/53XhwfbYqKCa1cC15pYq2q">Imagine Dragons</a>
            <ul>
              <li><a href="album/0LLA5YL3g2UReWlP7nWqGh">Night Visions</a></li>
              <li><a href="album/6yiXkzHvC0OTmhfDQOEWtS">Mercury - Acts 1 &amp; 2</a></li>
              <li><a href="album/3JfSxDfmwS5OeHPwLSkrfr">Origins</a></li>
              <li><a href="album/33pt9HBdGlAbRGBHQgsZsU">Evolve</a></li>
              <li><a href="album/6ecx4OFG0nlUMqAi9OXQER">Smoke + Mirrors</a></li>
            </ul>
          </li>
          <li>
            <a href="artist/4gzpq5DPGxSnKTe4SA8HAU">Coldplay</a>
            <ul>
              <li><a href="album/06mXfvDsRZNfnsGZvX2zpb">Music Of The Spheres</a></li>
              <li><a href="album/7z0efuBXAnPfu60aOL3QFV">Everyday Life</a></li>
              <li><a href="album/19CvkGjYpifkdwgVJSbog2">Live in Buenos Aires</a></li>
              <li><a href="album/6K1fjArmQ4SEiSDIG9fY01">Love in Tokyo</a></li>
              <li><a href="album/3cfAM8b8KqJRoIzt3zLKqw">A Head Full of Dreams</a></li>
              <li><a href="album/5IDGBfcVjwMoGPKOsfyXLN">A Head Full of Dreams Tour Edition</a></li>
              <li><a href="album/1hNS0RsxPTFjmKXCgmjSLS">Ghost Stories Live 2014</a></li>
              <li><a href="album/2G4AUqfwxcV1UdQjm2ouYr">Ghost Stories</a></li>
              <li><a href="album/2OkEsqGTfu8PWRrNHzfr0m">Live 2012</a></li>
              <li><a href="album/2R7iJz5uaHjLEVnMkloO18">Mylo Xyloto</a></li>
              <li><a href="album/3pboBm7GTa6V5dFXXCt52b">LeftRightLeftRightLeft</a></li>
              <li><a href="album/1MnAljVs4hcGU6pTcK2jdT">Viva La Vida</a></li>
            </ul>
          </li>
          <li>
            <a href="artist/69GGBxA162lTqCwzJG5jLp">The Chainsmokers</a>
            <ul>
              <li><a href="album/3Fpxa7OUrdGmqEebgoAF1E">So Far So Good</a></li>
              <li><a href="album/3cbcpRK1paF6lAxd16cmIE">World War Joy</a></li>
              <li><a href="album/1AVNEke0ElkA1cekT0a1vO">Sick Boy</a></li>
              <li><a href="album/4JPguzRps3kuWDD5GS6oXr">Memories...Do Not Open</a></li>
              <li><a href="album/3ShQFl9FladFKlonwPGZFc">The Chainsmokers- Japan Special Edition</a></li>
              <li><a href="album/27GXIwtv7WOQIqpUdrPA3g">Takeaway</a></li>
            </ul>
          </li>
          <li>
            <a href="artist/1vCWHaC5f2uS3yhpwWbIA6">Avicii</a>
            <ul>
              <li><a href="album/6Ad1E9vl75ZB3Ir87zwXIJ">TIM</a></li>
              <li><a href="album/5agaGRpUmK9tbmwJRERHtT">Stories</a></li>
              <li><a href="album/0ignCov9foaLxuqND5GMtl">True: Avicii By Avicii</a></li>
              <li><a href="album/50oWFJ0mDEeMa74ElsdAp3">True</a></li>
            </ul>
          </li>
          <li>
            <a href="artist/4IKVDbCSBTxBeAsMKjAuTs">Armaan Malik</a>
            <ul>
              <li><a href="album/4kY4DKSrD8UBjNAhLQ7V4F">The Voice Of Armaan Malik - Birthdy Special Kannada Hits</a></li>
              <li><a href="album/5fbPSz3s8P0vjmfcvgHwEs">Amaal Mallik &amp; Armaan Malik - Mtv Unplugged Season 7</a></li>
              <li><a href="album/6YiiTRnOTHz3qF6G6mzrmF">Armaan</a></li>
            </ul>
          </li>
          <li>
            <a href="artist/1dVygo6tRFXC8CSWURQJq2">Sonu Nigam</a>
            <ul>
              <li><a href="album/4iZcIyJhZS6hU4ylsMjjOA">Maja Mar Li</a></li>
              <li><a href="album/3dLk3dxzsyQT170b6mnE0C">Unacademy Unwind</a></li>
              <li><a href="album/2KeeLFANJODNUdIcCpPblr">Jana Gana Mana Soul Of India</a></li>
              <li><a href="album/0TeqyNconyoezFEpuICsDL">Sankata Mochana Hanuman</a></li>
              <li><a href="album/4MxAWhq7cmKQQQh6ZPfzNy">Mata Ki Chauki</a></li>
              <li><a href="album/4cyRaAmUdz7LWVl95IrZZS">Sonu Nigam Devi Bhajans</a></li>
              <li><a href="album/5Ok5yxM188YOBCELBFotuj">Dil Tere Naam Kiya</a></li>
              <li><a href="album/1vaiuKMMv4Wqtv6NKEOa0o">Valentine Love Songs</a></li>
              <li><a href="album/40xBOkeOio54lZBJI7sERN">Sonu Nigam Birthday Special Kannada Hits 2019</a></li>
              <li><a href="album/2DJfRXhFoQKjfTIdbKpJUL">Hero</a></li>
              <li><a href="album/4OK7k23qiLNrknhfmYaQBn">Aazadi -Independence Day Special</a></li>
              <li><a href="album/4vbYnrkjEeewTfLImMxpoO">Super Sonu Nigam</a></li>
              <li><a href="album/087nJEu9qN6BFNCeDdbEyw">Sonu Nigam Romantic Hit Songs</a></li>
              <li><a href="album/3fFxI80RlkJs1zjmZDsrnU">Duet Love Songs - Sonu Nigam &amp; Shreya Ghoshal Hits</a></li>
              <li><a href="album/2wvm1KKyTE1JL94TDfm5Si">Sonu Nigam Kannada Hits Birthday Special</a></li>
              <li><a href="album/1qSh7jLwCjWOrcoPedxeYE">Voice Of Sonu Nigam</a></li>
              <li><a href="album/4CfLEL0dbMCx8M5PxHFZ1B">Aaj Tera Jagrata Maa, Vol. 1</a></li>
              <li><a href="album/30ozrRpf5xE4oaWfFBksOc">Aaj Tera Jagrata Maa, Vol. 2</a></li>
              <li><a href="album/2Iz3dfMHmA7PmUNdptaBTI">Sonu Nigam Sings for Jayanth Kaikini - Kannada Hits 2016</a></li>
              <li><a href="album/5pfd8NzcyP0hwJB9aaDGRv">Bollywood's Musical Extravaganza - Sonu Nigam &amp; Sukhwinder Singh</a></li>
            </ul>
          </li>
          <li>
            <a href="artist/7zFBW2JxM4bgTTKxCRcS8Q">Hiphop Tamizha</a>
            <ul>
              <li><a href="album/1VekMGzuZjNpMslE9xHXqn">Anbarivu</a></li>
              <li><a href="album/0hEOFNB9mbDArzI1rQE2QE">A1 Express</a></li>
              <li><a href="album/6OSeYtBxRqL4rLwpWrcHaC">Mr. Local</a></li>
              <li><a href="album/4ps37XOFLsubtfDSXonWnd">Imaikkaa Nodigal</a></li>
              <li><a href="album/5tNO3OFy2NTdEllSrErkvz">Naan Sirithal</a></li>
              <li><a href="album/1QcVh51IZDWSHf88VwXjSR">Natpe Thunai</a></li>
              <li><a href="album/5hLTttZQp4vdCVI8VdJSIq">Comali</a></li>
              <li><a href="album/4l1UZrzOz1la6gcFsEuktY">Mega Power Star</a></li>
              <li><a href="album/6Gk0Gwqbobo9bX8mvJSLW5">Meesaya Murukku</a></li>
              <li><a href="album/31P8HzkNIVYCOiVioCD3Ak">Hiphop Tamizhan</a></li>
            </ul>
          </li>
          <li>
            <a href="artist/4zCH9qm4R2DADamUHMCa6O">Anirudh Ravichander</a>
            <ul>
              <li><a href="album/7ExIcsujDv181OmUEWFMmu">Thiruchitrambalam</a></li>
              <li><a href="album/6S5qpNyT3ZAg7m0e2XSOqx">Vikram</a></li>
              <li><a href="album/0mZe6r4eaGrhuCvx6dzxey">Beast</a></li>
              <li><a href="album/57HnFkNaWMtqA3h7rrRIAh">Doctor</a></li>
              <li><a href="album/4iFurFyAPhOlzwQTc5aXN2">Master</a></li>
              <li><a href="album/2HwAcrJuFmv70nzrHYtvoP">Vijay the Master</a></li>
              <li><a href="album/4rC8HC2HQDpqqDB4SPeqXP">Darbar</a></li>
              <li><a href="album/105hxC6gnZDJbK86LkWxOx">Velaiyilla Pattathari</a></li>
              <li><a href="album/5pXscGZp8q2t3gEnkL4uat">Anirudhs Darbar</a></li>
              <li><a href="album/1pQJguKLryCpmfP40tcEM0">Petta</a></li>
              <li><a href="album/3sIQWSDp9P7gfVtifRdwml">Bromance: Anirudh Ravichander &amp; Sivakarthikeyan</a></li>
            </ul>
          </li>
          
        </ul>
      </li>
      <li><a href="search">Search</a></li>
      <li>
        Legal
        <ul>
          <li><a href="tnc">Terms of Use</a></li>
          <li><a href="privacy">Privacy Policy</a></li>
          <li><a href="cookie">Cookie Policy</a></li>
        </ul>
      </li>
    </ul>
  </body>
</html>
